body{
  text-align: center;
  overflow-x: hidden; 
}
.button{
  color:black;
  background-color: orange;
  text-align:center;
  padding:16px 40px;
  margin:10px;
  justify-content: center;
  width: 220px;
  height:80px;
  background-image: url("../img/pokemon.ico");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position:10px;
  text-align: center;
}
.cursive {
  font-family: cursive;
}
li{
	list-style-type: none;
}
#main-img{
  min-width:200px;
  min-height: 80px;
}
.input {
  height: 2em;
  width: 30em;
  border: 2px solid #acacac;
  border-radius: 0.5em;
  font-size: 1em;
}
.iconsubmit {
  position: relative;
  font-size: 1.3em;
  z-index: 1;
  left: -30px;
  top: 1px;
  color: #7B7B7B;
  cursor:pointer;
  width: 0;
}
