body{
  text-align: center;
}
.button{
  color:black;
  background-color: orange;
  text-align:center;
  padding:16px 40px;
  margin:10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  background-image: url("../img/pokemon.ico");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position:10px;
}
.cursive {
  font-family: cursive;
}
li{
	list-style-type: none;  
}
#main-img{
  
  min-width:200px;
  min-height: 80px;

}

